@{
    ViewBag.Title = "Restaurants Example";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to the Restaurants Example for BddSharp
            </p>
        </div>
    </section>
}
<h3>All Restaurants:</h3>
<ol class="round">
    <li class="one">
        Bob's Burgers
    </li>

    <li class="two">
        Molly's Meatpies
    </li>

    <li class="three">
        Dillan's Dogs
    </li>
</ol>
