@{
    ViewBag.Title = "Restaurants Example";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to the Restaurants Example for BddSharp
            </p>
        </div>
    </section>
}
<a id="open_restaurants" href="#">Open Restaurants</a>

<h3>All Restaurants:</h3>
<div id="restaurants">
    <ol class="round">
        <li class="one">
            Bob's Burgers
        </li>

        <li class="two">
            Molly's Meatpies
        </li>

        <li class="three">
            Dillan's Dogs
        </li>
    
        <li class="four">
            Mishkin's Amazing Italian Food
        </li>
    </ol>
</div>